body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 20% 80%
                  /15% 85%;
    font-family: 'Roboto', sans-serif;           
}

/* Dashboard */

.dashboard {
    background-color: #3b82f6;
    color: #f8fafc;
    font-weight: 700;
    grid-row: span 2;
    display: grid;
    grid-template: 1fr 5fr 3fr 5fr
                  /1fr;
    grid-gap: 50px;
    padding-left: 30px;
    padding-top: 30px;
    
}

.dashheader {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 10px 10px;
    align-items: center;
}

.dashsub {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    grid-gap: 10px 20px;
}

.dashsub2 {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    grid-gap: 10px 20px;
}

/* Header */

.header {
    background-color: #f8fafc;
    padding: 15px;
    padding-left: 50px;
    display: grid;
    grid-template: 1fr 5fr 
                    / 60% 40%;
    
}

.search {
    display: grid;
    grid-template-columns: 1fr 9fr;
}
.searchbar {
    background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;

}

.welcome {
    display:grid;
    grid-template: 1fr 1fr / 100px 4fr;
}
.username {
    grid-column: 2;
    font-size: 22px;
    font-weight: 800;
    
}
.hi {
    align-self: end;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.bell {
    justify-self: end;
}
.profilepicture {
    justify-self: center;
}


/* Main */

.main {
    background-color: green;
}